
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap&subset=cyrillic');


@font-face {
  src: url('../fonts/OpenSans-Regular.ttf');
  font-family: "OpenSans Regular";
}

@font-face {
  src: url('../fonts/OpenSans-Bold.ttf');
  font-family: "OpenSans Bold";
}

@font-face {
  src: url('../fonts/OpenSans-Italic.ttf');
  font-family: "OpenSans Italic";
}


body{
  background-color: #F8FFFF;
  font-family: 'Open Sans','OpenSans Regular', Arial, Helvetica, sans-serif;
}

.main{
  padding-left: 40px;
  padding-right: 40px;
}

.header{
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid brown;
  background-color: #00032F;
}

.header-link{
  color: white;
  padding: 5px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: color .2s;
}

.header-link:hover{
  background-color: chocolate;
} 

.title{
  color: gray;
  text-align: center;
}

.my-img-wrapper{
  background-color: #EDEDDA;
  padding: 25px;
  text-align: center;
}

.my-img{
  border: 1px solid gray;
  height: 500px; 
  width: 500px;
  alt: Моё фото; 
}

.section{
  border-left: 5px solid indigo;
  text-align: left;
  padding-left: 10px;
  margin-left: 15px;
}

.section-content{
  padding-left: 20px;
}

.footer{
  border-top: 1px solid brown;
}