
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap&subset=cyrillic');


@font-face {
  src: url('../fonts/OpenSans-Regular.ttf');
  font-family: "OpenSans Regular";
}

@font-face {
  src: url('../fonts/OpenSans-Bold.ttf');
  font-family: "OpenSans Bold";
}

@font-face {
  src: url('../fonts/OpenSans-Italic.ttf');
  font-family: "OpenSans Italic";
}


body{
  background-color: #F8FFFF;
  font-family: 'Open Sans','OpenSans Regular', Arial, Helvetica, sans-serif;
}

.main{
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
}

.header{
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid brown;
  background-color: #00032F;
}

.header-link{
  color: white;
  padding: 5px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: color .2s;
  font-size: large;
}

.header-link:hover{
  background-color: chocolate;
} 

.my-profile{
  margin-top: 50px;
}

.img-container{
  background-color: #EDEDDA;
  padding: 25px;
  text-align: center;
}

.my-profile__my-img{
  border: 1px solid gray;
  height: 500px; 
  width: 500px;
  alt: Моё фото; 
}

.contacts-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contacts-item img{
  width: 36px;
  height: 36px;
  padding: 5px;
  margin-left: 15px;
}

#img_telegram{
  content: url("../icons/ic_telegram.svg");
}

#img_phone{
  content: url("../icons/ic_phone.svg");
}

#img_whatsapp{
  content: url("../icons/ic_whatsapp.svg");
}

#img_email{
  content: url("../icons/ic_mail.svg");
}

.my-description{
  margin-top: 30px;
}

.title{
  color: gray;
  text-align: left;
  margin-left: 15px;
}

.section{
  border-left: 5px solid indigo;
  text-align: left;
  padding-left: 10px;
  margin-left: 15px;
  font-size: 20px;
}

.section-content{
  padding-left: 20px;
  font-size: 18px;
}

.footer{
  border-top: 1px solid brown;
  padding: 20px;
  text-align: center;
}

.footer__link{
  font-size: 20px;
  color: brown;
}